body {
    font-family: sans-serif;
    background-color: white;
}

.banner_container {
    margin-top: 5vh;
}

.banner {
    aspect-ratio: 2.82;
    width: 100%;
    object-fit: cover;
    border-radius: 14px;
  }

  .main_container {
      max-width: 65%;
      margin: 0 auto 0 auto;
  }