body {
    font-family: sans-serif;
    background-color: white;
}

.banner_container {
    margin-top: 3vh;
    margin-bottom: 8vh;
}

.banner {
    aspect-ratio: 2.82;
    width: 100%;
    object-fit: cover;
    border-radius: 14px;
  }

.main_container {
      max-width: 65%;
      margin: 0 auto 0 auto;
  }

.section_heading_container {
    color: #F58216;
    margin-bottom: 10px;
}

.section_subheading_container {
    color: #FA9C1B;
}

.section_container {
    margin-bottom: 75px;
/*    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);*/
    display: flex;
}

#about_me_container {
    padding-right: 350px;
    padding-left: 10px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-size: cover;
}

#skills_container {
    padding-right: 10px;
    padding-left: 370px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-size: cover;
    background-position: center;
}

#education_and_qualification_container {
    padding-right: 350px;
    padding-left: 10px;
    padding-top: 200px;
    padding-bottom: 60px;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

#hobbies_and_interests_container {
    
    padding-right: 10px;
    padding-left: 370px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-size: cover;
    background-position: center;
}

#references_container {
    padding-right: 350px;
    padding-left: 100px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-size: cover;
    background-position: center;
}

.subsection_container {
    margin-bottom: 30px;
}

.paragraph_container {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 90%;
    background-color: rgba(0, 0, 0, 0.5);
}

.paragraph {
    text-align: left;
    color: white;
    font: sans-serif;
    line-height: 125%;
}


.skills_category_paragraph {
    text-align: left;
    color: white;
}

h3 {
    text-align: center;
    color: #FA9C1B;
}

h2 {
    text-align: center;
    color: #F58216;
}
