
body {
    margin: 0px;
    font-family: sans-serif;
}
.navbar {
    background-color: white;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    padding: 0px;

    box-shadow: 0px 2px 3px 0px rgba(112,112,112,0.75);
    -webkit-box-shadow: 0px 2px 3px 0px rgba(112,112,112,0.75);
    -moz-box-shadow: 0px 2px 3px 0px rgba(112,112,112,0.75);
}

.navbar_left {
    display: flex;
    align-items: center;
    margin: 0;
}

.navbar_center {
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 0px;
    font-size: 10px;
}

.navbar_right {
    display: flex;
    width: 60px;
}

.nav_button {
    display: flex;
    margin: 5px 0px 5px 0px;
}


.navbar_link {
    display: block;
}

.nav_logo {
    width: 60px;
    height: auto;
    padding: 0px;
}

#nav_button_contact,
#nav_button_about_me {
    font-weight: 500;
    border: 1px solid black;
    border-radius:10px;
    padding: 5px 18px 5px 18px;
}

#nav_button_about_me {
    margin-right: 20px;
    color: black;
}

#nav_button_contact {
    background-color: black;
    color: white;
    margin-right: 15.583px;
}

.header_fixed_spacer {
    height: 60px;
}

 a:link {
      text-decoration: none;
}

a:visited {
      text-decoration: none;
}

a:hover {
      text-decoration: none;
}

a:active {
      text-decoration: none;
}