.skills_container_main {

    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}


.skills_container_heading {

    display: flex;
    width: 100%;
    justify-content: center;
    color: #F58216;
    

}

.skills_container_skills {

    display: flex;
    fex-wrap: wrap;
    width: 100%;
    justify-content: center;

}


.skills_category {

    color: #FA9C1B;

}

.skills_text {

    color: black;

}


body {


}