{% extends 'base.html' %}

{% block title %}RAB Web-development{% endblock %}

{% block description %}My web design portfolio{% endblock %}

{% block stylesheet %}{{ url_for('static', filename='/css/about.css') }}{% endblock %}

{% block content %}  

    <div class="banner_container">
        <img class="banner" src="{{ url_for('static', filename='/banner/ledge_fjord_banner_word_overlay_3.avif') }}">
    </div>


    <div class="section_container" id="about_me_container" style="background-image: url({{ url_for('static', filename='/backgrounds/meadows_flowers_closeup_edited_blur_squoosh_75.jpg') }})">

        <div class="paragraph_container">
            <p class="paragraph">
                I am a self-taught backend developer with some front-end experience. 
                I work mostly in Python but have some knowledge of JavaScript; my back-end framework of choice is Flask. 
                I utilise trunk-based development with Git and GitHub and am also familiar with building GitHub actions and, because of that, YAML. 
                My front-end experience consists of HTML, CSS and JavaScript. I have worked on projects, including a CI test that ensures compliance of submitted code with the inclusive naming initiative (inclusivenaming.org) and a personal site built with Flask to host my CV and allow people to contact me. 
                I am most proud of the naming checker as it is a large project that introduced me to many different technologies and tested my ability to design, research and learn.
            </p>
        </div>
    </div>

    <div class="section_container" id="skills_container" style="background-image: url({{ url_for('static', filename='/backgrounds/sunset_field_edited_blur_squoosh.jpg') }}); @media {max-width: 768px) {background-color: black}   }">


        <div class="paragraph_container">


            <p class="skills_category_paragraph">
                <span style="color:#F58216">Backend –</span> Python / Flask 
            </p>

            
            <p class="skills_category_paragraph">
                <span style="color:#F58216">Frontend –</span> CSS / JavaScript / Wordpress
            </p>
            
            

            <p class="skills_category_paragraph">            
                <span style="color:#F58216">Databases –</span> PostgreSQL(via SQLalchemy)
            </p>
            
            

            <p class="skills_category_paragraph">            
                <span style="color:#F58216">DevOps –</span> GithubActions
            </p>
            
            

            <p class="skills_category_paragraph">            
                <span style="color:#F58216">Other Tools – </span>Git / Github(Trunk Based Development) / HTML / YAML
            </p>
            
            

            <p class="skills_category_paragraph">            
                <span style="color:#F58216">Currently learning -</span> Docker, TDD, Flask-Restx, RabbitMQ
            </p>
            


        </div>
    </div>


    <div class="section_container" id="education_and_qualification_container" style="background-image: url({{ url_for('static', filename='/backgrounds/forest_cliff_edited_blur.jpg') }})">

        <div class="subsection_container">


            <div class="paragraph_container">
                <p class="paragraph">
                Completed first and most of second year of a physics masters at The University of Sheffield – Withdrew due to a long term health condition.
                Learned Python with its ‘Numpy’ and ‘Matplotlib’ libraries as part of the ‘Programming in Python’ module.
                </p>
            </div>
        </div>



        <div class="subsection_container">

        <div class="paragraph_container" id="self_taught_subsection">
            <p class="paragraph">
            Working via Github with Geek.zone and from various resources available online:
            </p>



            <p class="paragraph">
                Languages: Further Python, JavaScript, YAML,
            </p>




            <p class="paragraph">
                Frameworks: Flask
            </p>




            <p class="paragraph">
                Technologies: GithubActions
            </p>




            <p class="paragraph">
                Methodologies: Trunk Based Development
            </p>




            <p class="paragraph">
                Other: HTML,  CSS
            </p>




            <p class="paragraph">
            </p>
        </div>
        </div>

        <div class="subsection_container">


            <div class="paragraph_container">

                <p class="paragraph">
                    A-Levels
                </p>


                <p class="paragraph">
                    Mathematics		B
                </p>


                <p class="paragraph">
                    Chemistry		B
                </p>


                <p class="paragraph">
                    Physics		A
                </p>


            </div>
        </div>


        <div class="subsection_container">


            <div class="paragraph_container">
                
                <p class="paragraph">Secondary Education Completed with Maths and English</p>

            </div>
        </div>
    </div>


    <div class="section_container" id="hobbies_and_interests_container" style="background-image: url({{ url_for('static', filename='/backgrounds/frest_sunset_edited_blur_squoosh.jpg') }})">

            

        <div class="paragraph_container">
            <p class="paragraph">
            In my spare time I enjoy <span style="color:#FA9C1B">rock climbing</span>, <span style="color:#FA9C1B">badminton</span> and <span style="color:#FA9C1B">swimming</span>.  They all provide community as well as exercise in an enjoyable form that helps to provide balance in my life and keeps my mind clear. I enjoy the opportunity they give to discover new ability, rock climbing is a great example, it presents a challenge that at the start seems out of reach but you keep persevering, improving your approach and put that extra bit of effort you didn’t think you had and you prove to yourself you are capable of more than you thought. 
            </p>
        </div>
    </div>


    <div class="section_container" id="references_container" style="background-image: url({{ url_for('static', filename='/backgrounds/snow_forest_edited_blur_squoosh.jpg') }})">

        
        <div class="paragraph_container">

        <p class="paragraph">
            References are available on request
        </p>

        </div>

    </div>

{% endblock %}


{% include('footer.html') %}
