<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title> {% block title %}John Doe{% endblock %} </title>
        <meta name="description" content="{% block description %}John Doe{% endblock %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% block stylesheet %}{% endblock %}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='/ui/mandala_icon.svg') }}">
    </head>
    <body>
        {% include('navbar.html') %}

        <div class="main_container">
            {% block content %}Content{% endblock %}
        </div>

        {% include('footer.html') %}
    </body>
</html>