<!DOCTYPE html>

<head>

	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="{{ url_for('static', filename='/css/footer.css') }}">

</head>

<body>
	
	<div class="footer_flex" class="flex-container" >
		<div>
				© 2023 Lorem ipsum
		</div>
		<div>
			<img class='footer_icon' id="linkedin_icon" src="{{ url_for('static', filename='ui/linkedin_outline_thick.svg') }}"></img>
			<img class="footer_icon" id="github_icon" src="{{ url_for('static', filename='ui/github_outline_thick.svg') }}"></img>
		</div>
	</div>

</body>