<!DOCTYPE html>

<head>

	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="{{ url_for('static', filename='/css/footer.css') }}">

</head>

<body>
	
	<div class="footer_flex" class="flex-container" >
		<a class="footer_email_link" href="mailto:RobinABarker@proton.me">
            <div class="footer_email">RobinABarker@proton.me</div>
		</a>
		<div>
    			<img class='footer_icon' id="linkedin_icon" src="{{ url_for('static', filename='ui/linkedin_outline_thick.svg') }}"></img>
            <a href="https://www.github.com/drodinger">
			    <img class="footer_icon" id="github_icon" src="{{ url_for('static', filename='ui/github_outline_thick.svg') }}"></img>
            </a>
		</div>
	</div>

</body>
