<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Robin Barker - Portfolio</title>
        <link rel="icon" type="image/x-icon" href="../static/ui/mandala.png">
        <meta name="description" content="Robin Barker - Portfolio">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/css/index.css">
        <script type="module" src="../static/scripts/index.js" defer></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="">
    </head>
    <body>

        <div class="main-container">
            <nav class="navbar">
                <div class="navbar-flex">
                    <img class="bar-icon" src="../static/ui/mandala.png" alt="Mandala">
                    <div class="nav-menu">
                        <ul class="nav-ul">
                            <li class="nav-li"><a class="nav-link" href="#intro" class="nav-link" id="nav-about-me">About me</a></li>
                            <li class="nav-li"><a class="nav-link" href="#skills" class="nav-link" id="nav-skills">Skills</a></li>
                            <li class="nav-li"><a class="nav-link" href="#projects" class="nav-link" id="nav-projects">Projects</a></li>
                            <li class="nav-li"><a class="nav-link" href="#experience" class="nav-link" id="nav-experience">Experience</a></li>
                            <li class="nav-li"><a class="nav-link" href="#education" class="nav-link" id="nav-education">Education</a></li>
                            <li class="nav-li"><a class="nav-link" href="#hobbies" class="nav-link" id="nav-hobbies">Hobbies</a></li>
                        </ul>
                    </div>
                    <button class="hamburger-menu-button" aria-label="Toggle menu"></button>
                </div>
            </nav>


            <div class="navbar-spacer">
            </div>


            <div class="intro-section-container" id="intro">
                <h1 style="text-align: center">Robin Barker - Full Stack Web Developer</h1>
                <img class="portrait-image" src="../static/images/IMG_20240528_170135_445.jpg" alt="Portrait of Robin Barker">
                <p>
                Dedicated Junior Full Stack Developer, recently graduated from the Northcoders software
                development boot camp on which I enrolled to build on previous Python experience and
                start my career as a Web Developer. Northcoders provided valuable fundamental skills to
                enable me to write clean robust code in JavaScript and pick up new technologies quickly.
                My aim is to build on my experience, learning new technologies and exploring what the
                tech industry has to offer. I would like contribute to team projects allowing me to further
                cultivate professional interpersonal skills and grow by taking on increased responsibility.
                </p>
            </div>



            <div class="section-container" id="skills">
                <h2>Skills</h2>
                <ul class="section-ul">
                    <li class="section-li"><h3 class="li-h3">Languages -</h3> JavaScript / Python</li>
                    <li class="section-li"><h3 class="li-h3">Back End -</h3> Express.js / An understanding of Flask</li>
                    <li class="section-li"><h3 class="li-h3">Front End -</h3> HTML / CSS / React / Lighthouse</li>
                    <li class="section-li"><h3 class="li-h3">Testing -</h3> Test Driven Development / Jest / Supertest</li>
                    <li class="section-li"><h3 class="li-h3">Databases -</h3> SQL / PostgreSQL / Seeding / Migrations</li>
                    <li class="section-li"><h3 class="li-h3">Hosting -</h3> Netlify / Render / Elephant SQL</li>
                    <li class="section-li"><h3 class="li-h3">Other Tools -</h3> Git / GitHub with Trunk Based Development</li>
                    <li class="section-li"><h3 class="li-h3">Databases -</h3> SQL / PostgreSQL / Seeding / Migrations</li>
                </ul>
                <p>Using online resources I self taught Python, Flask (and related modules), HTML, CSS and
                Git. I worked with ‘Geek zone’ on their website repo to gain experience.</p>
            </div>


            <div class="section-container" id="projects">
                <h2>Projects</h2>
                <h3>NC News - Back-end</h3>
                <p>
                A REST API with functionalities to sort a list of news articles in various ways, filter by
                category, view, vote, add and delete comments. Written using Express and PSQL, a list of
                endpoints is available at /API.
                <br>
                View it hosted here: <a href="https://channel-5-news.onrender.com/">https://channel-5-news.onrender.com/</a>
                <br>
                View the source code here: <a href="https://github.com/Drodinger/drodinger-be-nc-news">https://github.com/Drodinger/drodinger-be-nc-news</a>
                </p>
                <h3>NC News - Front-end</h3>
                <p>
                Minimal clean mobile first react app built using React to serve the back-end REST API.
                <br>
                View it hosted here: <a href="https://nc-live.netlify.app/">https://nc-live.netlify.app/</a>
                <br>
                View the source code here: <a href="https://github.com/Drodinger/fe-nc-news">https://github.com/Drodinger/fe-nc-news</a>
                </p>
                <h3>EcoQuest</h3>
                <p>
                A 6 person project, collaborating via GitHub using TBD and AGILE. EcoQuest is a mobile
                first cross platform app that gamifies litter-picking to encourage community action to
                clean up neighbourhoods. We wanted to hone our abilities to pick up new tech and so
                used first non-relational database (Firebase real time database) along with other
                Firebase services, react-native, Expo and react-native-maps.
                <br>
                View the source code here: <a href="https://github.com/tchan70/EcoQuest">https://github.com/tchan70/EcoQuest</a>
                </p>
                <h3>Personal Site (Python/Flask)</h3>
                <p>
                A personal CV site made using CSS and HTML 
                <br>
                View it hosted here: <a href="https://personal-site-gsgl.onrender.com/">https://personal-site-gsgl.onrender.com/</a>
                </p>
            </div>

            <div class="section-container" id="experience">
                <h2>Experience</h2>
                <h3>Junior Software Developer | Northcoders | Jan 2024 – April 2024</h3>
                <p>My time at Northcoders broadened my view of the software development landscape and
                provided experience in an AGILE team further inspiring me to pursue this career path. It
                helped me to build upon my knowledge and round out my skill set with the following:</p>
                <ul class="section-ul">
                    <li class="section-li">Write robust code in JavaScript using TDD</li>
                    <li class="section-li">Collaboration: GitHub(Trunk based development), Pair programming, AGILE</li>
                    <li class="section-li">Create well organised REST APIs with Node, Express and PSQL and other tools</li>
                    <li class="section-li">Front-end reactive mobile first design with React, HTML, CSS</li>
                    <li class="section-li">Accessible design using Lighthouse, Dev tools and related software</li>
                </ul>
                <h3>Freelance Work | Part Time | March 2024 - Present</h3>
                <ul class="section-ul">
                    <li class="section-li">Developing modern website, consulting on specifics of requirements</li>
                    <li class="section-li">Attending meetings, getting to know committee, relaying web activity</li>
                    <li class="section-li">Setting up/Managing old site after previous dev changed server</li>
                    <li class="section-li">Workaround missing old site dependencies on new locked down server</li>
                    <li class="section-li">Helping site users and organisation members with technical issues</li>
                </ul>
                <h3>Ashorne Hill | Full Time | July 2022 - February 2023</h3>
                <ul class="section-ul">
                    <li class="section-li">Cleaning dishes, cleaning kitchen</li>
                    <li class="section-li">Keeping kitchen organised</li>
                    <li class="section-li">Collaborating & communicating with my team, kitchen staff and front of house to carry out tasks efficiently without conflicting</li>
                    <li class="section-li">Adhering to safety standards and protocols</li>
                </ul>
            </div>

            <div class="section-container" id="education">
                <h2>Education</h2>
                <h3>Degree - Theoretical Physics (Mphys)</h3>
                <ul class="section-ul">
                    <li class="section-li">Medical physics</li>
                    <li class="section-li">Physics of materials</li>
                    <li class="section-li">Programming in Python</li>
                    <li class="section-li">Fundamentals of physics</li>
                    <li class="section-li">Mathematics for physicists and astronomers</li>
                    <li class="section-li">Introduction to astrophysics</li>
                </ul>
                <p>Completed first and most of second year of a physics masters at The University of Sheffield, withdrew due to a long term health condition. Learned Python with Numpy, Matplotlib and Sciplot libraries in the ‘Programming in Python’ module.</p>
                <h3>Sixth Form</h3>
                <ul class="section-ul">
                    <li class="section-li">Physics        A</li>
                    <li class="section-li">Mathematics    B</li>
                    <li class="section-li">Chemistry      B</li>
                </ul>
                <h3>Secondary School</h3>
                <p>Secondary Education Completed with Maths and English</p>
            </div>

            <div class="section-container" id="hobbies">
                <h2>Hobbies</h2>
                <p>In my spare time I enjoy <em>rock climbing</em>, <em>badminton</em>, <em>swimming</em> and <em>meditation</em> as enjoyable ways to balance life with community and exercise. The lessons they teach are invaluable, rock climbing for example reinforces the idea that a little extra push can make a huge difference and reminds me progress can be non-linear.</p>
            </div>

        </div>

        <footer class="footer">
            <div class="footer-flex">
                <a style="margin-left: 10px" href="mailto:RobinABarker@proton.me">Contact me 📨</a>
                <div class="footer-icons-flex">
                    <a href="https://www.linkedin.com/in/robin-barker-136688302/"><img class="bar-icon" src="../static/ui/linkedin-icon-dm.png" alt="Linkedin"></img></a>
                    <a href="https://www.github.com/drodinger"><img class="bar-icon" src="../static/ui/github-icon-dm.png" alt="GitHub"></img></a>
                </div>
            </div>
        </footer>
    </body>
</html>
