<DOCTYPE html>

<head>

	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='/css/navbar.css') }}">

</head>

<body>

	<div class="header_fixed_spacer"></div>


	<div class="navbar">
		<div class="navbar_left">
			<img class="nav_logo" src="{{ url_for('static', filename='/ui/mandala_icon.svg') }}"/>
		</div> 
		<div class="navbar_center">
			<div id="nav_button_about_me" class="nav_button" href="/">About me</div>
			<div id="nav_button_contact" class="nav_button" href="contact">Contact</div>
		</div>

		<div class="navbar_right">
		</div>

	</div> 


</body>